.home h1{
  font-size: 40px;
  text-align: center;
  color: rgb(73, 73, 73);
}

.home-feature-article-container{
  margin-left: 5.5rem;
  margin-right: 5.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home-featured {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto 5.5rem;
}

.home-featured h3{
  font-size: 25px;
}

.photo {
  width: 100%;
  height: auto;
}

 
@media (min-width: 600px) {
  .photo { grid-template-columns: repeat(2, 1fr); }
}
 
.home-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px ;
}
 
.home-all-articles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 7rem 5.5rem ;
  
}


.home-all-article-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px ;
   
}

.home-all-article-container{
  margin: auto 5.5rem; 
}

.links {
 padding-top: 2rem;
 padding-bottom: 2rem;
}

.links .headers{
  display: inline;
  font-size: 25px;
}

.links a{
  margin-left: 1.5rem;
  background-color: gray;
  border-radius: 15px;
  padding: 2px 8px;
  text-decoration: none;
  color: black;
}
 

 

